body {
	margin: 0px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 13px; word-wrap: break-word;
}
#header {
	background: url("images/o_mbookTop.jpg") no-repeat left top; border: currentColor; left: 0px; top: 0px; width: 1015px; height: 318px; position: absolute;
}
#HeaderTitle {
	top: 90px; text-align: right; right: 393px; padding-right: 0px; margin-right: 0px; position: absolute;
}
#Title {
	font-size: 20px; font-weight: bold;
}
#SubTitle {
	font-size: 16px;
}
p.date img {
	vertical-align: middle;
}
#main {
	left: 60px; top: 0px; width: 565px; padding-top: 150px; position: absolute;
}
h2 {
	font-size: 13px; margin-top: 10px;
}
#rightmenu {
	top: 60px; width: 250px; right: 5px; line-height: 1.5; position: absolute; background-color: rgb(255, 255, 255);
}
#rightmenu h3 {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(102, 153, 170) rgb(102, 153, 170) currentColor; margin: 10px 0px 0px; padding: 2px 5px; color: rgb(0, 102, 170); font-size: 13px; background-color: rgb(170, 221, 255);
}
#rightmenu ul {
	list-style: none; margin: 0px; padding: 5px; border: 1px solid rgb(102, 153, 170);
}
#rightmenu li {
	padding-bottom: 3px;
}
#footer {
	width: 560px; text-align: center; padding-top: 5px; font-size: 11px; border-top-color: rgb(119, 170, 204); border-top-width: 1px; border-top-style: solid;
}
input.text {
	width: 300px;
}
textarea {
	width: 300px; height: 200px;
}
#comments h4 span {
	color: rgb(153, 153, 153);
}
#comments h4 {
	margin: 0px; font-size: 13px;
}
p {
	margin: 10px 0px; line-height: 1.5; font-size: 13px;
}
h3 {
	font-size: 15px; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
#relatedlinks ul {
	list-style: none; padding: 0px; margin-left: 10px;
}
a {
	color: rgb(51, 102, 153); text-decoration: none;
}
a:link {
	color: rgb(51, 102, 153);
}
a:visited {
	color: rgb(51, 102, 153);
}
a:hover {
	color: rgb(51, 102, 153); text-decoration: none;
}
body {
	background: url("images/o_mbookBG.jpg") repeat-y left rgb(40, 85, 126);
}
.date {
	display: none;
}
h1 a {
	border: currentColor; color: rgb(0, 0, 0); font-family: verdana, arial, sans-serif; font-size: 20px; font-weight: bold;
}
h1 a:link {
	border: currentColor; color: rgb(0, 0, 0); font-family: verdana, arial, sans-serif; font-size: 20px; font-weight: bold;
}
h1 a:visited {
	border: currentColor; color: rgb(0, 0, 0); font-family: verdana, arial, sans-serif; font-size: 20px; font-weight: bold;
}
h1 a:active {
	border: currentColor; color: rgb(0, 0, 0); font-family: verdana, arial, sans-serif; font-size: 20px; font-weight: bold;
}
h1 a:hover {
	border: currentColor; color: rgb(0, 0, 0); font-family: verdana, arial, sans-serif; font-size: 20px; font-weight: bold;
}
div.post {
	line-height: 1.5; font-size: 13px;
}
div.post h2 {
	border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid;
}
h2 a:link {
	color: rgb(0, 0, 255); font-weight: normal;
}
h2 a:visited {
	color: rgb(0, 0, 255); font-weight: normal;
}
h2 a:active {
	color: rgb(0, 0, 255); font-weight: normal;
}
h2 a:hover {
	border: currentColor; color: rgb(0, 0, 255); font-weight: bold;
}
#rightmenu {
	left: 713px; top: 60px; width: 250px; color: rgb(170, 170, 170); position: absolute; background-color: transparent;
}
#rightmenu h3 {
	border-width: medium medium 1px; border-style: none none dashed; border-color: currentColor currentColor rgb(170, 170, 170); font: bold 13px/normal Verdana; margin: 0px; padding: 5px 5px 0px; color: rgb(170, 170, 170); font-size-adjust: none; font-stretch: normal; background-color: transparent;
}
#rightmenu ul {
	list-style: none; margin: 0px 0px 5px; padding: 2px; border: currentColor; font-size: 12px;
}
#rightmenu a:link {
	color: rgb(170, 170, 170);
}
#rightmenu a:visited {
	color: rgb(170, 170, 170);
}
#rightmenu a:hover {
	color: rgb(170, 170, 170);
}
p.date {
	padding: 2px 0px; font-size: 13px; font-weight: bold; margin-bottom: 0px; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
blockquote {
	
}
p.postfoot {
	font-size: 11px;
}
.Cal {
	border: 1px solid rgb(102, 153, 170); width: 100%; height: 150px; color: rgb(170, 170, 170); font-family: Arial; font-size: 12px; margin-top: 10px; background-color: transparent;
}
.CalTitle {
	border-color: rgb(170, 221, 255) rgb(170, 221, 255) rgb(102, 153, 170); padding: 0px; height: 100%; color: rgb(170, 170, 170); font-family: Arial; font-size: 13px; margin-left: 0px; border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(40, 85, 124);
}
.CalOtherMonthDay {
	color: rgb(128, 128, 128);
}
.CalSelector {
	
}
.CalNextPrev {
	
}
.CalDayHeader {
	
}
.CalSelectedDay {
	
}
.CalWeekendDay {
	
}
.CalTodayDay {
	color: red;
}
.CalTodayDay {
	color: red;
}
.input_my_zzk {
	padding: 2px 5px; border: 1px solid rgb(235, 235, 235); width: 120px; background-color: transparent;
}
.btn_my_zzk {
	border: 1px solid rgb(235, 235, 235); color: rgb(170, 170, 170);
}
img {
	border: 0px currentColor;
}
#digg_block {
	margin-top: 10px;
}
#author_profile {
	width: 300px; margin-top: 10px; float: left;
}
.author_avatar {
	border: 0px currentColor; padding-top: 5px; padding-right: 5px; padding-left: 2px; vertical-align: top; float: left;
}
.author_profile_title {
	color: rgb(102, 102, 102); font-weight: bold;
}
.author_profile_info {
	line-height: 18px; float: left;
}
#div_digg {
	width: 120px; text-align: center; font-size: 12px; margin-top: 10px; margin-right: 30px; margin-bottom: 10px; float: right;
}
.diggit {
	background: url("/images/upup.gif") no-repeat; width: 46px; height: 52px; text-align: center; margin-top: 2px; float: left; cursor: pointer;
}
.diggnum {
	color: rgb(7, 93, 179); line-height: 2.2em; font-family: Verdana; font-size: 14px;
}
.buryit {
	background: url("/images/downdown.gif") no-repeat; width: 46px; height: 52px; text-align: center; margin-top: 2px; margin-left: 20px; float: right; cursor: pointer;
}
.burynum {
	color: rgb(7, 93, 179); line-height: 2.2em; font-family: Verdana; font-size: 14px;
}
.diggword {
	color: gray; font-size: 12px; margin-top: 5px; margin-left: 0px;
}
a.digg_gray:link {
	color: gray; text-decoration: underline;
}
a.digg_gray:visited {
	color: gray; text-decoration: underline;
}
a.digg_gray:hover {
	color: red; text-decoration: underline;
}
a.digg_gray:active {
	color: gray; text-decoration: underline;
}
.comment_quote {
	border: 1px solid rgb(187, 187, 187);
}
